@page "/"
@layout NoLayout
@inject NavigationManager navM
    
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="card">
                    <div class="card-body">
                        <EditForm Model="@user" OnValidSubmit="@ValidateUser">

                            <div class="row">
                                <h1 style="font-weight:bold">Minix</h1>
                            </div>

                            <div class="row">
                                <br />
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    User Name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input class="form-control" @bind="user.User" placeholder="email address" />
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-12">
                                    Password
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-12">
                                    <input type="password" class="form-control" @bind="user.Password" placeholder="password" />
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-12">

                                    <input type="submit" class="form-control col-6 btn btn-primary" value="Save" />
                                    <div class="col-12" style="text-align:left; font-weight:bold">
                                        <span class="col-12">@LoginMesssage</span>
                                    </div>

                                </div>
                            </div>

                        </EditForm>
                        </div>
                    </div>
                </div>
    </div>

    @code {

        Minix.Data.user user = new Minix.Data.user();
        public string LoginMesssage { get; set; }



        protected override void OnInitialized()
        {

        }



        private void ValidateUser()
        {
            dal d = new dal();
            if (d.cechkUser(user))
            {
                navM.NavigateTo("/index");
            }
            else
            {

                navM.NavigateTo("/");
                LoginMesssage = "User or password Error !";
            }

        }

        public class User
        {
            public int id { get; set; }
            public string email { get; set; }
            public string password { get; set; }
        }
    }
